body {
  margin: 0;
  background-color: rgb(159, 123, 189);
  font-family: 'Times New Roman', Times, serif;
}

.notSignedIn {
  text-align: center;
  font-size: 30px;
}

.form {
  margin: 20px 50px;
}

.app {

}

.postList {
  text-align: center;
  width: 300px;
  margin: 0 auto;
}

.welcomeText {
  margin-right: 30px;
  cursor: pointer;
  padding: 25px 10px;
  transition: color 500ms;

  &:hover {
    color: aqua;
  }
}

.postItem {
  background-color: #fff;
  margin: 30px 0;
  border: 1px solid purple;
  border-radius: 4px;
  transition: transform 500ms;

  &:hover {
    transform: scale(1.2);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  background-color: rgb(0, 0, 0);
  color: #fff;
  transition: background-color 500ms;
  

  &:hover {
    background-color: rgb(31, 71, 55);
  }

  &__input {
    margin: 0 auto;
  }

  &__searchField {
    height: 20px;
  }

  &__signin {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 20px;
    margin-right: 30px;

    &:hover {
      background-color: aqua;
      color: #fff;
      border-color: aqua;
    }
  }
}

.main {
  color: rgb(56, 61, 80);
  padding: 30px 60px;
  
  &__content {
    min-height: 100vh;
    padding: 20px;
    background-color: rgb(212, 171, 228);
    border-radius: 50px;
  }
  

  &__title {
    text-align: center;
  }
}